Package: roughcopy-dbgsym
Package-Type: ddeb
Source: roughcopy
Version: 1.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Souradip Patra <your@email.com>
Installed-Size: 149
Depends: roughcopy (= 1.0-1)
Section: debug
Priority: optional
Description: debug symbols for roughcopy
Build-Ids: 05b20479302b3bb233ec90d9717f3502a4d4420e
